.box {
  width: 100%;
  height: 100%;
  min-width: 1260px;
  min-height: 800px; }
  .box .container-box {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 151px;
    box-sizing: border-box; }
    .box .container-box .searchlist {
      width: 100%;
      padding: 26px 0 0 29px;
      box-sizing: border-box; }
      .box .container-box .searchlist .searchone {
        background: #ffffff;
        border: 1px solid #d7d7d7;
        width: 219px;
        height: 28px;
        float: left; }
        .box .container-box .searchlist .searchone span {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: url("../images/icon_search.png") no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          float: left;
          margin: 6px 4px 0 6px; }
        .box .container-box .searchlist .searchone input {
          font-size: 12px;
          color: #999999;
          width: 180px;
          height: 100%;
          float: left;
          text-indent: 4px; }
      .box .container-box .searchlist .searchbtn {
        background: #69a0d0;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        float: left;
        margin-left: 20px; }
      .box .container-box .searchlist .direct {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #333333;
        margin-left: 25px;
        float: left;
        margin-right: 8px; }
      .box .container-box .searchlist .bootstrap-select:not([class*=span]):not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 132px;
        height: 30px; }
      .box .container-box .searchlist .btn {
        padding: 4px 12px; }
    .box .container-box .table {
      background: #f8f8f8;
      border: 1px solid #d7d7d7;
      width: calc(100% - 28px);
      height: 443px;
      margin: 20px 0 0 28px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .box .container-box .table .tableTitle {
        background: rgba(56, 108, 153, 0.2);
        width: 100%;
        height: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .box .container-box .table .tableTitle div {
          font-size: 12px;
          color: #333333;
          height: 100%;
          line-height: 40px;
          text-align: center;
          width: 6.6%;
          float: left; }
        .box .container-box .table .tableTitle div:nth-child(1) {
          margin-left: 10px; }
        .box .container-box .table .tableTitle div:nth-child(3) {
          width: 26.3%; }
        .box .container-box .table .tableTitle div:nth-child(4) {
          width: 12.4%; }
        .box .container-box .table .tableTitle div:nth-child(5) {
          width: 11.4%; }
        .box .container-box .table .tableTitle div:nth-child(6) {
          width: 9.9%; }
        .box .container-box .table .tableTitle div:nth-child(7) {
          width: 12.4%; }
        .box .container-box .table .tableTitle div:nth-child(8) {
          width: 11.4%; }
      .box .container-box .table .tabCommon {
        width: 100%;
        height: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .box .container-box .table .tabCommon div {
          font-size: 12px;
          color: #333333;
          height: 100%;
          line-height: 40px;
          text-align: center;
          width: 6.6%;
          float: left; }
        .box .container-box .table .tabCommon div:nth-child(1) {
          margin-left: 10px; }
        .box .container-box .table .tabCommon div:nth-child(3) {
          width: 26.3%; }
        .box .container-box .table .tabCommon div:nth-child(4) {
          width: 12.4%; }
        .box .container-box .table .tabCommon div:nth-child(5) {
          width: 11.4%; }
        .box .container-box .table .tabCommon div:nth-child(6) {
          width: 9.9%; }
        .box .container-box .table .tabCommon div:nth-child(7) {
          width: 12.4%;
          color: #4795d7;
          cursor: pointer; }
        .box .container-box .table .tabCommon div:nth-child(8) {
          width: 11.4%;
          color: #4795d7;
          cursor: pointer; }
          .box .container-box .table .tabCommon div:nth-child(8) span:first-child {
            display: inline-block;
            width: 9px;
            height: 9px;
            background: url("../images/icon_download.png") no-repeat;
            -webkit-background-size: cover;
            background-size: cover; }
      .box .container-box .table .tabCommon:nth-child(2n+1) {
        background: #fff; }
    .box .container-box .totle {
      width: 98.3%;
      height: 28px;
      font-size: 14px;
      color: #4a4a4a;
      margin-top: 11px; }
      .box .container-box .totle div {
        margin-left: 58px; }
        .box .container-box .totle div span:first-child {
          margin-right: 22px; }
        .box .container-box .totle div span:nth-child(2) {
          color: #4795d7;
          font-size: 24px; }
    .box .container-box .page {
      width: 344px;
      height: 30px;
      background: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(217, 217, 217, 0.5);
      border-radius: 2px;
      margin: 60px auto;
      display: flex; }
      .box .container-box .page div {
        width: 35px;
        height: 100%;
        border-right: 1px solid #ebebeb;
        text-align: center;
        line-height: 32px;
        font-size: 12px;
        color: #999999; }
      .box .container-box .page div:nth-child(7) {
        width: 60px; }
      .box .container-box .page div:nth-child(8) {
        width: 77px; }
      .box .container-box .page div.active {
        background: #69a0d0;
        color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999999; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }

/*# sourceMappingURL=backstage.css.map */
